<html>
<head>
    <link href="~/Stylesheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet">
</head>
<body>

    <h1>MVC Properties LLC</h1>

    <a href="@Url.Action("Index", "Hotels")">Hotels</a>
    <a href="@Url.Action("Index", "Amenities")">Amenities</a>
    <a href="@Url.Action("Index", "Rooms")">Rooms</a>

</body>
</html>