<html>
<head>
    <link href="~/Stylesheet.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Aguafina+Script" rel="stylesheet"> 
</head>
<body>

    <h1>MVC Properties</h1>

    
   

</body>
</html>